:root {
  --primary: rgb(194, 133, 235);
  --glow: rgba(213, 169, 241, 0.89);
  --width: 400px;
}
.fr-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.poke {
  margin: 0 auto;
  width: var(--width);
}

body {
  margin: 0 auto;
  width: 90%;
  display: relative;
  background: black;
  color: var(--glow);
}

label {
  display: absolute;
  padding: 2em;
  left: 50%;
}

input {
  height: 30px;
  outline: none;
  /* padding: 20px; */
  border-radius: 0.5em;
  border: 2px solid var(--glow);
  text-align: center;
  background: transparent;
  color: var(--primary);
  /* width: var(--width); */
}

img:hover {
  transform: scale(1.2);
  transition: transform linear 0.2s;
}
